<div class="well">
  <h3>{{question.content}}</h3>
  <h4>{{question.notes}}</h4>
  <br>
  <p>-asked by {{question.author}}</p>
</div>
<div class="well">
  <button {{action 'delete' question}}>Delete question</button>
</div>
<div class="well">
  <h4>Answers to this question:</h4>
  <ul>
    {{#each question.answers as |answer|}}
      {{answer-detail answer=answer destroyAnswer="destroyAnswer"}}
    {{/each}}
  </ul>
</div>
